{% extends "logged.html" %}
{% block title %}
    Detalhes da Transfusão
{% endblock %}
{% load static %}
{% block contents %}
<link rel="stylesheet" href="{% static 'css/infoTransfusion.css' %}"/>

<div class="back-button-container">
    <a href="{% url 'transfusion' %}" class="back-button">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>

<div class="tabs-container">
    <button class="tab-btn" onclick="showSection('features-section')">
        <i class="fas fa-vials"></i></i> Caracteristicas
    </button>
    <button class="tab-btn" onclick="showSection('imuno-section')">
        <i class="fa-solid fa-microscope"></i> Imuno/Hemato
    </button>
    <button class="tab-btn" onclick="showSection('transfusion-section')">
        <i class="fas fa-vial"></i> Transfusões Anteriores
    </button>
    <button class="tab-btn" onclick="showSection('history-section')">
        <i class="fa-solid fa-notes-medical"></i> Histórico de Saúde
    </button>
    <button class="tab-btn" onclick="showSection('alerts-section')">
        <i class="fas fa-bell"></i> Alertas
    </button>
</div>

<div class="features-section">
    <h2>Características e Informações Complementares</h2>
    <br>
    <div class="checkbox-grid">
        <!-- Primeira Coluna -->
        <div class="checkbox-column">
            <label><input type="checkbox" name="feature1"> Recebe Hemocomponente Irradiado</label>
            <label><input type="checkbox" name="feature2"> Recebe Pré Medicação</label>
            <label><input type="checkbox" name="feature3"> Recebe alerta por SMS</label>
            <label><input type="checkbox" name="feature4"> Refratariedade Plaquetas</label>
        </div>
        <!-- Segunda Coluna -->
        <div class="checkbox-column">
            <label><input type="checkbox" name="feature5"> Recebe Hemocomponente Filtrado</label>
            <label><input type="checkbox" name="feature6"> Insuficiência Renal Crônica (IRC)</label>
            <label><input type="checkbox" name="feature7"> Recebe alerta por Email</label>
            <label><input type="checkbox" name="feature8"> Possui outra caracteristica</label>
        </div>
        <!-- Terceira Coluna -->
        <div class="checkbox-column">
            <label><input type="checkbox" name="feature9"> Recebe Hemocomponente Lavado</label>
            <label><input type="checkbox" name="feature10"> Recém Nascido</label>
            <label><input type="checkbox" name="feature11"> TMO Não Isogrupo</label>
            <label><input type="checkbox" name="feature12"> Incidente Transfusional</label>
        </div>
        <!-- Quarta Coluna -->
        <div class="checkbox-column">
            <label><input type="checkbox" name="feature13"> Fenotipado</label>
        </div>
    </div>
</div>

<div class="imuno-section hidden">
    Imuno/Hemato
</div>
<div class="transfusion-section hidden">
    Transfusões Anteriores
</div>
<div class="history-section hidden">
    Histórico de Saúde
</div>
<div class="alerts-section hidden">
    Alertas
</div>

<script>
    function showSection(sectionClass) {
        // Esconde todas as seções
        const sections = document.querySelectorAll('.features-section, .imuno-section, .transfusion-section, .history-section, .alerts-section');
        sections.forEach(section => section.classList.add('hidden'));

        // Remove a classe 'active' de todos os botões
        const buttons = document.querySelectorAll('.tab-btn');
        buttons.forEach(button => button.classList.remove('active'));

        // Mostra a seção clicada
        document.querySelector(`.${sectionClass}`).classList.remove('hidden');

        // Adiciona a classe 'active' ao botão clicado
        document.querySelector(`button[onclick="showSection('${sectionClass}')"]`).classList.add('active');
    }
</script>
{% endblock %}