nav ul li:nth-child(12) {
    background-color: #fafafa;
}

nav ul li:nth-child(12) a i {
    color: #235db3;
}

.auto-exclusion-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.instruction-text {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.btn-exclude {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre ícone e texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-exclude i {
    font-size: 60px; /* Tamanho maior para destacar */
}

.yes {
    background: #28a745;
    color: white;
}

.no {
    background: #dc3545;
    color: white;
}

.btn-exclude:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 30px;
    }

    .btn-exclude {
        width: 120px;
        height: 120px;
        font-size: 18px;
    }
}

.fullscreen-btn {
    background: #007bff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaço entre o texto e o ícone */
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.fullscreen-btn i {
    font-size: 24px; /* Tamanho do ícone */
}

.fullscreen-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}

